.userInfo {
  font-size: 1rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
